@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Example03</h1>


<br />

GoTo : <a asp-controller="RazorDemo" asp-action="Index">Razor Demo</a>