@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Help View</h1>

You can reach us by using : -

<ol>
    <li>Whatsapp</li>
    <li>Facebook</li>
    <li>Instagram</li>
</ol>